<!-- <p>order works!</p> -->
<p-panel header="Pipes Customs" class="p-2">
    <h1>Pipes Personalizados</h1>
    <p>
        Pipes personalizados en Angular - creados por {{'nosotros' | toggleCasePipe:isUpperCase}}
    </p>
</p-panel>


<p-toolbar>
    <div class="toolbar-group-start">
        <p-button label="ToogleCase"
            icon="pi pi-search"
            class="mr-2"
            (click)="toggleUpperCase()">
        </p-button>
    </div>

    <div class="p-toolbar-group-end">
        
        <p-button 
            label="Por Nombre"
            icon="pi pi-sort"
            styleClass="p-button-success"
            class="mr-2"
            (onClick)="changeOrder('name')">
        </p-button>
        
        <p-button 
            label="Por volar" 
            icon="pi pi-sort" 
            styleClass="p-button-danger"
            class="mr-2"
            (onClick)="changeOrder('canFly')">
        </p-button>
        
        <p-button 
            label="Por color" 
            icon="pi pi-sort" 
            styleClass="p-button-help"
            class="mr-2"
            (onClick)="changeOrder('color')">
        </p-button>

    </div>
</p-toolbar>


<div class="grid">
    <div class="col mt-2">

        <p-panel header="Heroes">

            <p-table [value]="heroes | sortByPipe: orderBy" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
    
                        <th>Nombre</th>
                        <th>Vuela</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.canFly | canFlyPipe | titlecase }}</td>
                        <td>{{ hero.color }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-panel>

        
        

    </div>
</div>